

.home {
  min-height: 100vh;
  // background-image: url(https://img.lovepik.com/element/45008/9059.png_860.png);
  // background-image: url(https://media.licdn.com/dms/image/C4D16AQEf471K67ZMdg/profile-displaybackgroundimage-shrink_200_800/0/1662985722173?e=2147483647&v=beta&t=7oKyhjKxMq39hIAQJ6ivIHJmUUW0gewrWnpiZuaXrqU);
  background-repeat: round;
  position: relative;
  background-color: gray;
}

.login-form{
  position: absolute;
  left: 20%;
  top: 10%;
}
